@page "/AboutUs"

<RadzenRow class="rz-text-align-center" Gap="0.25rem" Style="margin-top: 80px;">
    <RadzenColumn>
        <h3 style="margin-right: 500px">About us</h3>
        <p>Her skal stå lidt om os og projektet:</p>
    </RadzenColumn>
</RadzenRow>
@code {
     
}