@page "/BookCatalog"   

<h3>BookCatalog</h3>

//Underline header
<div class="row">
    <div class="col-auto">
        <p>
            Her kan du se alle de bøger, som er til salg
        </p>
    </div>
</div> 

//Dropdown menu that selects which category the user wants


@code {
    
}