.background-image-container {
    background-image: url('Imgs/SEP3_Client_Background.png');
    background-size: cover;
    border: 2px solid black;

    .page-container {
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
    }

    .transbox p, .transbox h1, .transbox h3 {
        margin: 20px; 
        font-weight: bold;
        color: #000000;
    }
}