@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to VIA Book Marketplace</h1>

<p>Embark on your academic journey with our specialized book sale platform. <br />
    Whether you're a student seeking essential study materials or have textbooks to pass on to the next learner, you're in the right place.</p>

<h3>Explore Study Materials</h3>
<p>Discover a large collection of study books covering a wide range of subjects. <br />
    Whether you're in search of textbooks or reference materials, uncover the essential resources to thrive in your academic endeavors.</p>

<h3>Sell Your Books</h3>
<p>Do you have books that have served you well? Give them a second life by selling them on our platform. List your books with ease <br />
    and connect with students eager to acquire the knowledge you've gained. Help fellow learners while earning back on your investments.</p>

<h3>Start Your Academic Adventure Today</h3>
<p>Whether you're looking for textbooks or ready to pass on your study materials, we invite you to start your academic adventure with us. <br />
    Explore, share, and contribute to the collective knowledge of our academic community. <br />
    Happy studying!</p>