@page "/Login"
@using global::Shared.DTOs
@using HttpClients.ClientInterfaces
@inject NavigationManager NavManager
@inject IUserService _UserService

<RadzenRow class="rz-text-align-center" Gap="0.25rem" Style="margin-top: 80px;">
    <RadzenColumn>
<h3>Login</h3>


<div class="form-group mb-3">
    <label for="username">Username:</label>
    <RadzenTextBox @bind-Value="username" style="width: 20%" />
</div>

<div class="form-group mb-3">
    <label for="password">Password:</label>
    <RadzenPassword @bind-Value="password" style="width: 20%" />
</div>

<div class="mb-3">
   <RadzenButton Text="Login" Icon="lock_open" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" Click="@(() => userLogin())" Style="background-color: RGB(60, 128, 67)" />
    
    <RadzenButton Text="Cancel" Icon="exit_to_app" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" Click="@(() => Cancel())" Style="background-color: RGB(60, 128, 67)" />
</div>

        <div class="mb-3">
            <p>If you don't have an account, <a href="Register">register here</a>.</p>
        </div>
        
    </RadzenColumn>
</RadzenRow>

    @code {
    private string username;
    private string password;
        
        private async Task userLogin()
        {
            LoginDto loginDto = new LoginDto(username, password);
            
            await _UserService.LoginUser(loginDto);
        }

    private void Cancel()
    {
        NavManager.NavigateTo("");
    }
    

}
