@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>


<div class="page">
    
    <!-- side nav bar lodret -->
    <div class="sidebar">
        <NavMenu/>
    </div>

    <!-- top nav bar vandret -->
    <main>
        <div class="top-row px-4" style="background-color: RGB(0, 70, 32)">
         <div class="nav-item px-3">
                    <NavLink class="nav-link text-white" style="padding-top: 0.25rem; padding-bottom: 0.25rem; background-color: RGB(60, 128, 67)"  href="Login">
                        <span aria-hidden="true"></span> Login
                    </NavLink>
         </div>
        </div>

        <!-- Body (page) -->
        <article>
            @Body
        </article>
    </main>
</div>